<.header>
  New Party
  <:subtitle>Use this form to manage party records in your database.</:subtitle>
</.header>

<.party_form changeset={@changeset} action={~p"/parties"} />

<.back navigate={~p"/parties"}>Back to parties</.back>
